<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HappyMeal - Toutes les recettes</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../js/favoris.js" defer></script>
</head>
<body class="bg-[#f8f1e4] min-h-screen font-sans">

    <!--pop up suppression des favoris-->
    <div id="popup" class="fixed top-5 right-5 bg-red-500 text-white px-4 py-2 rounded-lg shadow-lg z-10 hidden opacity-0 transition-opacity duration-500">
        Supprimée des favoris !
    </div>

    <!-- Header -->
    <header class="w-full bg-white py-3 px-6 flex items-center justify-between shadow-md">
        <a href="../index.html">
            <img src="../assets/logos/logo-transparent-svg.svg" alt="logo" class="h-12 md:h-16">
        </a>

        <nav class="hidden md:flex flex-1 justify-center gap-10 text-lg font-bold">
            <a href="planning.html" class="hover:text-[#B9625D] transition">Planning</a>
            <a href="favoris.html" class="hover:text-[#B9625D] transition">Favoris</a>
            <a href="recette.html" class="hover:text-[#B9625D] transition">Recettes</a>
            <a href="course.html" class="hover:text-[#B9625D] transition">Courses</a>
        </nav>

        <a href="recette.html" class="hidden md:flex bg-orange-400 text-white px-4 py-2 rounded-xl hover:bg-orange-300 transition shadow-md items-center">
            <img src="../assets/logos/logo-meal.png" class="h-6 w-6 mr-2" alt="logo-meal">
            Voir toutes les recettes
        </a>
        
        <nav class="md:hidden flex flex-col items-center gap-3 mt-3 text-lg font-bold">
            <a href="#" class="hover:text-[#B9625D] transition">Planning</a>
            <a href="#" class="hover:text-[#B9625D] transition">Favoris</a>
            <a href="#" class="hover:text-[#B9625D] transition">Recettes</a>
            <a href="#" class="hover:text-[#B9625D] transition">Courses</a>
            <a href="views/course.html" class="bg-orange-400 text-white px-4 py-2 rounded-xl hover:bg-orange-300 transition shadow-md">
                Voir recettes
            </a>
        </nav>
    </header>


    <!-- Hero Section -->
    <section id="informations-recette" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-10 transition-all duration-500">
        <div class="bg-[#FFF9F0] p-6 rounded-lg w-[1250px] relative overflow-y-auto max-h-[80vh]">
            <h2 id="titre-recette" class="text-[#574848] text-4xl font-[Judson] font-bold font-[arial] w-fit"></h2>
            <p class="text-[#574848] mt-3"><strong>Temps de préparation :</strong> <span id="temps-recette"></span></p>
            
            <h3 class="mt-4 text-lg font-bold underline text-[#574848]">Préparation</h3>
            <p id="preparation-recette" class="mt-2 text-[#574848] font-bold text-l font-[arial]"></p>
            
            <h3 class="mt-4 text-lg font-bold underline text-[#574848]">Ingrédients</h3>
            <div id="ingredients-recette" class="flex "></div>
            <button id="fermer-informations" class="w-full bg-[#FFC56F] mt-5 rounded-lg h-8">Fermer</button>
            <button id="fermer-informations-croix" class="absolute top-2 right-2 text-xl font-bold">✕</button>
        </div>
    </section>

    <div class="relative h-[300px] bg-black">
        <img src="../assets/logos/accueil.jpg" class="absolute inset-0 w-full h-full object-cover opacity-60" alt="Recettes">
        <div class="absolute inset-0 flex flex-col items-center justify-center text-white text-center">
            <h1 class="text-4xl font-bold">Toutes les recettes</h1>
        </div>
    </div>

    <!-- Main Content -->
    <div class="flex">
        <!-- Conteneur principal avec les cartes et pagination -->
        <div class="w-full lg:w-4/5 flex flex-col order-1 lg:order-2">
            <!-- Conteneur des cartes -->
            <div class="container mx-auto px-4 py-8">
                <div id="recettes-favoris" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 justify-center">
                    <!-- Recipes will be dynamically inserted here -->
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="w-full lg:w-1/5 p-1 bg-[#574848] lg:sticky lg:top-0 lg:h-screen order-2 lg:order-3">
            <div class="bg-[#574848] rounded-lg h-full overflow-y-auto">
                <div class="p-3">
                    <div class="bg-white rounded-lg border mb-10">
                        <div class="flex items-center px-3 py-4 text-black-500">
                            <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                            </svg>
                            <input type="text" placeholder="Rechercher" class="w-full outline-none">
                        </div>
                    </div>

                    <div class="space-y-2">
                        <div class="bg-[#B9625D] text-white rounded-lg py-3 px-4 flex items-center">
                            <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                            Filtres 1
                        </div>
                        <div id="btn-main" class="category-btn bg-white rounded-lg py-2 px-4 flex items-center text-gray-700 cursor-pointer transition">
                            <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                            Filtres 2
                        </div>
                        <div id="btn-starter" class="category-btn bg-white rounded-lg py-2 px-4 flex items-center text-gray-700 cursor-pointer transition">
                            <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                            Filtres 3
                        </div>
                        <div id="btn-dessert" class="category-btn bg-white rounded-lg py-2 px-4 flex items-center text-gray-700 cursor-pointer transition">
                            <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                            Filtres 4
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center py-4 opacity-70 font-['Judson']">
        <p>Réalisé par Esteban, Sébastien, Idryss et Lamine</p>
    </footer>
</body>
</html>